div.imageContainer{
  ;This contains my profile picture to restrict it to an object
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

div.imageContainer img{
  ;this configures my profile picture so it will sit in the middle
  vertical-align: middle;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.nameContainer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.nameContainer h1{
  font-size: 5vw;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: #FFFFFF;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  line-height: 5vw;
  padding: 1vw
}

div.nameContainer h2{
  font-size: 4vw;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: #FFFFFF;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  line-height: 2vw;
}

.topContainer{
  ;this contains my name and my profile picture
  margin-top: auto;
  margin-bottom: auto;
  background: #F0F0D0;

}
