div.imageContainer{
  ;This contains my profile picture to restrict it to an object
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 40vw;
  height: 28vh;
  float: left;
}

div.imageContainer img{
  ;this configures my profile picture so it will sit in the middle
  vertical-align: middle;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  display: block;
  margin: auto;

}

div.nameContainer{
  width: 35vw;
  height: 30vh;
  float: right;
}

div.nameContainer h1{
  width: 35vw;
  height: 10vw;
  font-size: 8vw;
  text-align: center;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: #FFFFFF;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  margin: auto;
}

div.nameContainer h2{
  width: 35vw;
  height: 5vw;
  font-size: 5vw;
  text-align: left;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: #FFFFFF;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  margin: auto;
}

.topContainer{
  ;this contains my name and my profile picture
  width: 100vw;
  height: 30vh;
  margin: auto;
  padding-left: 10vw;
  padding-right: 10vw;

}

div.buffer{
  height: 10vw;
  width: 100vw;
}
