div.topContainer{
  ;this contains my name and my profile picture
  width: 100vw;
  height: 22vw;
  margin: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color:
}
div.imageContainer{
  ;This contains my profile picture to restrict it to an object
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 40vw;
  height: 20vw;
  float: left;
}
div.imageContainer img{
  ;this configures my profile picture so it will sit in the middle
  vertical-align: middle;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  display: block;
  margin: auto;
  border: 0.3vw solid black;

}
div.nameContainer{
  width: 35vw;
  height: 20vw;
  float: right;
}
div.nameContainer h1{
  width: 35vw;
  height: 12vw;
  font-size: 8vw;
  text-align: center;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: #FFFFFF;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black,
    -0.7vw 0.5vw black;
  margin: auto;
}
div.nameContainer h2{
  width: 35vw;
  height: 8vw;
  font-size: 5vw;
  text-align: left;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: #FFFFFF;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black,
    -0.7vw 0.5vw black;
  margin: auto;
}

div.links{
  width: 100vw;
  height: 10vh;
}
div.VSCO{
  width: 25vw;
  height: 10vh;
  float: left;
  text-align: center;

}
div.Instagram{
  width: 25vw;
  height: 10vh;
  float: left;
  text-align: center;
}
div.Linkedin{
  width: 25vw;
  height: 10vh;
  float: left;
  text-align: center;

}
div.Github{
  width: 25vw;
  height: 10vh;
  float: left;
  text-align: center;
}
